extends layout
block general
 .widget
  h1 General
  p
   | Sed auctor neque eu tellus rhoncus ut
   | leifend nibh porttitor. Ut in nulla enim.
  p
   | ivamus hendrerit arcu sed erat molestie
   | vehicula.

block svn
 .widget
  h1 SVN repos and access
  p
   | Sed auctor neque eu tellus rhoncus ut
   | leifend nibh porttitor. Ut in nulla enim.
  p
   | ivamus hendrerit arcu sed erat molestie
   | vehicula.  

block hadoop
 .widget
  h1 Hadoop related
  p
   | Sed auctor neque eu tellus rhoncus ut
   | leifend nibh porttitor. Ut in nulla enim.
  p
   | ivamus hendrerit arcu sed erat molestie
   | vehicula.

block users
 .widget
  h1 Users & passwords
  p
   | Sed auctor neque eu tellus rhoncus ut
   | leifend nibh porttitor. Ut in nulla enim.
  p
   | ivamus hendrerit arcu sed erat molestie
   | vehicula.

block projects
 .widget
  h1 Projects
  p
   | Sed auctor neque eu tellus rhoncus ut
   | leifend nibh porttitor. Ut in nulla enim.
  p
   | ivamus hendrerit arcu sed erat molestie
   | vehicula.  

block servers
 .widget
  h1 Server side projects
  p
   | Sed auctor neque eu tellus rhoncus ut
   | leifend nibh porttitor. Ut in nulla enim.
  p
   | ivamus hendrerit arcu sed erat molestie
   | vehicula.

block apis
 .widget
  h1 APIs
  p
   | Sed auctor neque eu tellus rhoncus ut
   | leifend nibh porttitor. Ut in nulla enim.
  p
   | ivamus hendrerit arcu sed erat molestie
   | vehicula.

block tools
 .widget
  h1 Tools
  p
   | Sed auctor neque eu tellus rhoncus ut
   | leifend nibh porttitor. Ut in nulla enim.
  p
   | ivamus hendrerit arcu sed erat molestie
   | vehicula.

block hr
 .widget
  h1 HR
  p
   | Sed auctor neque eu tellus rhoncus ut
   | leifend nibh porttitor. Ut in nulla enim.
  p
   | ivamus hendrerit arcu sed erat molestie
   | vehicula.
