doctype
html
 head
  title #{tile} - OSM SQUARED
  link(rel='stylesheet', href='/stylesheets/style.css')
 body
  header
   h1 OSM SQUARED
  .container
   .sidebar
    block general
   
   .sidebar
    block svn
   
   .sidebar
    block hadoop

   .sidebar
    block users
   
   .sidebar
    block projects

   .sidebar
    block servers

   .sidebar
    block apis

   .sidebar
    block tools

   .sidebar
    block apis 

   .sidebar
    block hr 
  footer
   p Running on node with Express, Jade and Stylus
